style(type='text/css').
  .footer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .logo {
    width:150px;
    margin-bottom:15px;
  }

  .spacing {
    margin: 0 10px;
  }

  .footer p {
    margin: 2px 0;
  }
.footer
  img.logo(src="https://static.wixstatic.com/media/cb2c48_4777b00835474af1a76403cbd3832068~mv2.png")
  p © COPYRIGHT 2019 by VIACT.AI
  p ALL RIGHTS RESERVED. 
  p 
    a(href="https://www.viact.ai/termofservice") TERMS OF SERVICE 
    span.spacing
    a(href="https://www.viact.ai/privatepolicy") PRIVACY POLICY 