style(type='text/css').
  .footer {
    text-align:center;
  }

  .logo {
    width:150px;
    margin-bottom:15px;
  }

  .spacing {
    margin: 0 10px;
  }

  .footer p {
    margin: 2px 0;
  }
.footer
  img.logo(src="http://hhdt1.viact.ai/static/media/Viact%20logo%20-%20Colour.4d045c78.png")
  p © COPYRIGHT 2020 by VIACT.AI
  p ALL RIGHTS RESERVED. 